<section class="section section-tech-stack">
	<div class="container-fluid">
		<h2  class="h1 text-center mb-5">  
			Tech Stack
		</h2>
		<div class="tech-wrapper js-tech-wrapper">
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/html-5.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/css.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/sass.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/github.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/visual-basic.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/javascript.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/php.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/wordpress.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/bootstrap.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/jquery-vertical.svg" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/gulp.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/git.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/less.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/react.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/npm.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/webpack.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/ps.png" alt="css">
				</figure>
			</div>
		</div>
	</div>
</section>