<section class="section section-tech-stack">
	<div class="container">
		<h2  class="h1 text-center mb-5">  
			Tech Stack
		</h2>
		<div class="tech-wrapper js-tech-wrapper">
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/css3-icon.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/css3-icon.png" alt="css">
				</figure>
			</div>
			<div class="tech-item">
				<figure>
					<img src="dist/images/images/css3-icon.png" alt="css">
				</figure>
			</div>
		</div>
	</div>
</section>