<section class="section section-projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="project-card">
                    <figure class="project-image">
                        <img src="dist/images/images/project-placeholder.png" alt="">
                    </figure>
                    <div class="project-info">
                        <div class="title">
                            Project 1
                        </div>
                        <div class="description">
                            This is a sample project
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-card">
                    <figure class="project-image">
                        <img src="dist/images/images/project-placeholder.png" alt="">
                    </figure>
                    <div class="project-info">
                        <div class="title">
                            Project 1
                        </div>
                        <div class="description">
                            This is a sample project
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-card">
                    <figure class="project-image">
                        <img src="dist/images/images/project-placeholder.png" alt="">
                    </figure>
                    <div class="project-info">
                        <div class="title">
                            Project 1
                        </div>
                        <div class="description">
                            This is a sample project
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>