<footer></footer>
<!-- Modal -->
<div class="modal fade" id="js-modal" tabindex="-1" aria-labelledby="js-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			<div class="modal-header">
				<h4 class="modal-title text-center m-auto" id="js-modal-label"></h4>
			</div>
			<div class="modal-body text-center" >
				<p class="h5">Skill Level</p>
				<p id="js-modal-body"></p>
			</div>
			<div class="modal-footer d-none">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>