.btn-loadMore {
	width: 100%;
	max-width: 200px;
	padding: 10px;

	color: $white;

	background-color: $blue-300;

	&:hover {
		color: $white;

		background-color: rgba($blue-300, 0.8);
	}
}

.flickity-prev-next-button {
	top: unset;
	bottom: -80px;

	background: transparent;

	transform: none;

	@include media-breakpoint-down(lg) {
		display: none;
	}

	&:hover {
		opacity: 0.7;
		background: transparent;
	}

	&.previous {
		left: 45%;
	}

	&.next {
		right: 45%;
	}
}