.project-card {
    cursor: pointer;
    overflow: hidden;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

	p:last-child {
		margin-bottom: 0;
	}

	margin-bottom: 50px;
}

.project-image {
    @include aspect-ratio(16, 9);
    overflow: hidden;

    img {
        transform: scale(1);
        transition: transform 0.3s ease;
    }
}