.section {
	padding: 40px 0;

	@include media-breakpoint-up(lg) {
		padding: 80px 0;
	}
}

img:not([src]):not([srcset]) {
	visibility: hidden;
}

img {
	&.js-lazy {
		opacity: 0;

		transition: opacity 0.5s ease;

		&.loaded {
			opacity: 1;
		}
	}
}