.section-tech-stack {
	background-color: $blue-200;

	.container-fluid {
		padding-right: 0;
		padding-left: 0;
	}

	.tech-item {
		width: calc(100% / 5);
		max-width: 150px;
		margin: 0 20px;

		figure {
			@include aspect-ratio(1, 1);

			margin-bottom: 0;
		}
	}
}